header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    font-family: 'Public Sans', sans-serif;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.logo {
    width: 200px;
}